
<h1 style="text-align: center; color: #3498db;">
 😊 LISTA DE PRODUCTOS
</h1>

<div class="grid">
  <div class="box">Laptop<br>Cantidad: 2<br>Total: 1500</div>
  <div class="box">Teclado<br>Cantidad: 5<br>Total: 50</div>
  <div class="box">Monitor<br>Cantidad: 1<br>Total: 300</div>
  <div class="box">Mouse<br>Cantidad: 3<br>Total: 30</div>
  <div class="box">Auriculares<br>Cantidad: 4<br>Total: 120</div>
  <div class="box">Impresora<br>Cantidad: 1<br>Total: 200</div>
  <div class="box">Cámara<br>Cantidad: 2<br>Total: 500</div>
  <div class="box">Micrófono<br>Cantidad: 3<br>Total: 80</div>
  <div class="box">Memoria RAM<br>Cantidad: 4<br>Total: 250</div>
  <div class="box">Disco duro<br>Cantidad: 3<br>Total: 300</div>
</div>

<button style="background-color: #3498db; color: white; padding: 8px 15px; border: none; border-radius: 10px;" class="btn-pdf" (click)="onGeneratePDF()">
  IMPRIMIR PDF
</button>


